.material .code { max-height: 80vh; overflow: auto; margin-bottom: 1rem; }

code { font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; background-color: #faf6fa; color: black; display: inline-block; font-size: 1rem; padding: 2px 5px; word-break: break-all; /*& + code { margin-left: -5px; padding-left: 0; }*/ }

code > .type, code > .Type { color: #008080; text-decoration-color: #bcd9dc; }

code > .type:hover, code > .Type:hover { text-decoration-color: #008080; }

code > .namespace, code > .Namespace { color: #888; text-decoration-color: #dedbde; }

code > .namespace:hover, code > .Namespace:hover { text-decoration-color: #888; }

code > .method, code > .Method { color: #74531f; text-decoration-color: #d9cdc3; /*&:last-child{ &:after{ content:"()"; } }*/ }

code > .method:hover, code > .Method:hover { text-decoration-color: #74531f; }

.code .xmlDocComment, .code .htmlComment, .code .comment { color: #008000; }

.code .keyword { color: #0000ff; }

.code .preprocessorKeyword { color: darkgray; }

.code .string, .code .htmlElementName, .code .stringCSharpVerbatim { color: #a31515; }

.code .className { color: #48D1CC; }

.code .number { color: #8b6122; }

.code .htmlServerSideScript { color: #FFFF00; }

.code .htmlTagDelimiter { color: #0000FF; }

.code .htmlElementName { color: #A31515; }

.code .htmlAttributeName { color: #FF0000; }

.code .htmlAttributeValue { color: #0000FF; }

.code .htmlOperator { color: #0000FF; }

.code .xmlDocTag { color: #808080; }

.code .htmlEntity { color: #FF0000; }

.code .xmlAttribute { color: #FF0000; }

.code .xmlAttributeQuotes { color: #000000; }

.code .xmlAttributeValue { color: #0000FF; }

.code .xmlCDataSection { color: #808080; }

.code .xmlComment { color: #008000; }

.code .xmlDelimiter { color: #0000FF; }

.code .xmlName { color: #A31515; }

.code .cssSelector { color: #A31515; }

.code .cssPropertyName { color: #FF0000; }

.code .cssPropertyValue { color: #0000FF; }

.code .sqlSystemFunction { color: #FF00FF; }

.code .powershellAttribute { color: #B0E0E6; }

.code .powershellOperator { color: #808080; }

.code .powershellType { color: #008080; }

.code .powershellVariable { color: #FF4500; }

.code .typeVariable { color: #008080; font-style: italic; }

.code .constructor { color: #800080; }

.code .predefined { color: #000080; }

.code .pseudoKeyword { color: #000080; }

.code .stringEscape { color: #808080; }

.code .controlKeyword { color: #0000FF; }

.code .markdownHeader { color: #0000FF; font-weight: bold; }

.code .markdownCode { color: #008080; }

.code .markdownListItem { font-weight: bold; }

.code .italic { font-style: italic; }

.code .bold { font-weight: bold; }

.code .builtinFunction { color: #6B8E23; font-weight: bold; }

.code .builtinValue { color: #556B2F; font-weight: bold; }

.code .attribute { color: #008B8B; font-style: italic; }

.code > pre { font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; background-color: #faf6fa; color: black; padding: 8px; overflow: auto; font-size: 1rem; border-radius: 8px; font-weight: 200; }

.code > pre > .type, .code > pre > .Type { color: #008080; text-decoration-color: #bcd9dc; }

.code > pre > .type:hover, .code > pre > .Type:hover { text-decoration-color: #008080; }

.code > pre > .namespace, .code > pre > .Namespace { color: #888; text-decoration-color: #dedbde; }

.code > pre > .namespace:hover, .code > pre > .Namespace:hover { text-decoration-color: #888; }

.code > pre > .method, .code > pre > .Method { color: #74531f; text-decoration-color: #d9cdc3; /*&:last-child{ &:after{ content:"()"; } }*/ }

.code > pre > .method:hover, .code > pre > .Method:hover { text-decoration-color: #74531f; }

/*.GitHubLink { text-decoration: none; float: left; } .GitHubLink::after { color: #666; position: absolute; font-family: "Material Design Icons"; font-size: 1.7rem; content: "\F02A4"; margin-left: -1.2em; } @media only screen and (max-width: 880px) { .GitHubLink { float: right; } .GitHubLink::after { position: relative; float: right; margin-left: 0; } }*/
.anchorsOutside .GitHubLink { text-decoration: none; float: left; }

.anchorsOutside .GitHubLink:after { color: #666; font-family: "Material Design Icons"; font-size: 1.7rem; content: "\F02A4"; }

.anchorsOutside .GitHubLink:after { position: absolute; float: left; margin-left: -1.2em; }

.anchorsInside .GitHubLink { text-decoration: none; float: right; }

.anchorsInside .GitHubLink:after { color: #666; font-family: "Material Design Icons"; font-size: 1.7rem; content: "\F02A4"; }

.anchorsInside .GitHubLink:after { opacity: 0.5; position: absolute; float: right; font-size: 2.5rem; margin-left: -2.5rem; }

.anchorsInside .GitHubLink ~ .code > pre { border-top-right-radius: 1.25rem; }

.Downloadable { left: 0; right: 0; background-color: #f7f7f7; display: flex; flex-wrap: wrap; flex-direction: row; padding: 4px 0 0 4px; border-radius: 2px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); /*font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; font-weight: normal; -webkit-font-smoothing: antialiased; box-sizing: inherit; box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2); border: none; border-radius: 2px; height: 36px; line-height: 36px; padding: 0 16px; font-size: 14px; outline: 0; text-decoration: none; color: #fff; background-color: #acc435; text-align: center; letter-spacing: .5px; position: relative; cursor: pointer; display: inline-block; overflow: hidden; user-select: none; -webkit-tap-highlight-color: transparent; vertical-align: middle; z-index: 1; transition: .3s ease-out;*/ }

.Downloadable > * { display: flex; height: 48px; justify-content: center; text-align: center; padding: 0px 16px 0px 16px; font: inherit; margin: 0 4px 4px 0; flex: 10; }

.Downloadable > .Title { display: flex; flex-direction: column; white-space: nowrap; }

.Downloadable > .Select { display: flex; font: inherit; border: 1px solid #ddd; }

.Downloadable > .Button { display: flex; flex-direction: column; flex: 1; text-decoration: none; color: white; border-radius: 2px; background-color: #c3de3e; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.Downloadable > .Button:hover { background-color: #d1e56a; }

.DownloadableIcon { color: #ffffff; text-align: center; cursor: pointer; user-select: none; -webkit-tap-highlight-color: transparent; box-sizing: inherit; float: left !important; text-rendering: optimizeLegibility; font-family: 'Material Design Icons'; font-weight: normal; font-style: normal; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-smoothing: antialiased; margin-right: 15px; font-size: 1.3rem; line-height: inherit; }

.DownloadableIconWindows::before { content: "\F05B3"; }

.DownloadableIconAndroid::before { content: "\F0032"; }

.DownloadableIconLinux::before { content: "\F033D"; }

.DownloadableIconZip::before { content: "\F06EB"; }

.DownloadableIconCloud::before { content: "\F0162"; }

.Footer { position: static; display: block; margin: 32px 0 0 0; }

.Footer:before { position: absolute; display: block; background-color: #ddd; content: ""; height: 1px; width: 100%; left: 0; z-index: -1; }

.FooterContainer { box-sizing: border-box; width: 100%; margin: 0 auto; padding: 32px 12px 12px 12px; display: flex; flex-flow: row wrap; }

.FooterContainer .Grid { display: flex; flex: 2 1 auto; flex-wrap: wrap; }

.FooterContainer .Section .Title { display: block; font-size: .83em; margin: 0 0 12px 0; font-weight: bold; }

.FooterContainer a { color: #848d95; font-size: 14px; padding: 4px 0; line-height: 1.4em; display: inline-block; text-decoration: none; }

.FooterContainer a:hover { color: #bbc0c4; }

.FooterContainer div.Text { color: #3d5154; font-size: 14px; box-sizing: border-box; margin: auto; }

.Grid { width: 100%; display: block; }

.Grid.columns1 > * { width: calc((100% - (1 - 1) * 8px) / 1); }

.Grid.columns1 > :nth-child(1n) { margin-right: -1px; }

.Grid.columns2 > * { width: calc((100% - (2 - 1) * 8px) / 2); }

.Grid.columns2 > :nth-child(2n) { margin-right: -1px; }

.Grid.columns3 > * { width: calc((100% - (3 - 1) * 8px) / 3); }

.Grid.columns3 > :nth-child(3n) { margin-right: -1px; }

.Grid.columns4 > * { width: calc((100% - (4 - 1) * 8px) / 4); }

.Grid.columns4 > :nth-child(4n) { margin-right: -1px; }

.Grid.columns5 > * { width: calc((100% - (5 - 1) * 8px) / 5); }

.Grid.columns5 > :nth-child(5n) { margin-right: -1px; }

.Grid.columns6 > * { width: calc((100% - (6 - 1) * 8px) / 6); }

.Grid.columns6 > :nth-child(6n) { margin-right: -1px; }

.Grid.columns7 > * { width: calc((100% - (7 - 1) * 8px) / 7); }

.Grid.columns7 > :nth-child(7n) { margin-right: -1px; }

.Grid.columns8 > * { width: calc((100% - (8 - 1) * 8px) / 8); }

.Grid.columns8 > :nth-child(8n) { margin-right: -1px; }

.Grid.columns9 > * { width: calc((100% - (9 - 1) * 8px) / 9); }

.Grid.columns9 > :nth-child(9n) { margin-right: -1px; }

.Grid.columns10 > * { width: calc((100% - (10 - 1) * 8px) / 10); }

.Grid.columns10 > :nth-child(10n) { margin-right: -1px; }

.Grid.columns11 > * { width: calc((100% - (11 - 1) * 8px) / 11); }

.Grid.columns11 > :nth-child(11n) { margin-right: -1px; }

.Grid.columns12 > * { width: calc((100% - (12 - 1) * 8px) / 12); }

.Grid.columns12 > :nth-child(12n) { margin-right: -1px; }

.Grid > * { margin-right: 8px; margin-bottom: 8px; }

.List { margin-left: 20px; }

.MaterialCard { position: relative; width: 100%; display: inline-block; height: 320px; border-radius: 2px; overflow: hidden; padding-bottom: 8px; text-decoration: none; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -webkit-transition: box-shadow 0.15s ease-in-out; -moz-transition: box-shadow 0.15s ease-in-out; -o-transition: box-shadow 0.15s ease-in-out; transition: box-shadow 0.15s ease-in-out; }

.MaterialCard:hover { -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.MaterialCard > .Title, .MaterialCard > .Text { text-align: left; margin-left: 16px; margin-right: 8px; }

.MaterialCard .Title { top: 65%; margin-top: 8px; font-size: 1.5rem; font-weight: 300; color: #777; }

.MaterialCard .Image { width: 100%; height: 65%; }

.MaterialCard > .Text { top: calc(65% + 1.5rem + 8px); margin-top: 8px; line-height: 1.1; font-size: 0.8rem; }

.MaterialCard:before { position: absolute; display: block; bottom: 0px; right: 0px; left: 0px; z-index: 2; height: 32px; content: ""; background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(255, 255, 255, 0) 100%); }

.MaterialCard:active { -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.Panel { position: relative; border-radius: 8px; padding: 8px; padding-left: 42px; font-size: inherit; min-height: 24px; }

.Panel::before { display: block; position: absolute; top: 8px; left: 8px; font-size: 24px; line-height: 24px; font-family: "Material Design Icons"; content: "\F0339"; color: #ccc; }

.Info { background-color: #deebff; }

.Info::before { color: #5590e8; content: "\F02FC"; }

.Warning { background-color: #fffae6; }

.Warning::before { color: #ff991f; content: "\F0026"; }

.Error { background-color: #ffebe6; }

.Error::before { color: #e65835; content: "\F0159"; }

.Note { background-color: #eae6ff; }

.Note::before { color: #5243aa; content: "\F082E"; }

.Success { background-color: #e3fce8; }

.Success::before { color: #2db647; content: "\F05E0"; }

.Bug { background-color: #f4dfd9; }

.Bug::before { color: #de350b; content: "\F00E4"; }

table { width: 100%; border-collapse: collapse; margin-bottom: 0.4rem; border-spacing: 0px; border: 0; }

table > tbody th { border: 1px solid white; background-color: #eee; padding: 4px 10px 4px 10px; color: #666; font-weight: 500; }

table > tbody td { border: 1px solid #ddd; border-width: 1px; padding: 4px 10px 4px 10px; }

table > tbody td:empty { border: 1px solid transparent; }

.ToDo { display: inline-block; position: relative; background-color: red; color: white; padding: 0 5px 0 5px; border-radius: 5px; }

.ToDo:empty { width: 1px; height: 1em; padding: 0; }

.ToDo:empty:after { position: absolute; display: block; left: -10px; top: 100%; width: 20px; line-height: 20px; border-radius: 10px; background-color: red; text-align: center; vertical-align: central; font-size: 16px; font-family: "Material Design Icons"; content: "\F02A0"; }

.VideoPlayer { width: 100%; position: relative; overflow: hidden; background-color: black; }

.VideoPlayer .VideoPlayerInner { position: absolute; top: 50%; transform: translateY(-50%); left: 0; width: 100%; margin: auto; }

.TemplateLeftSideMenu > .LeftSideMenu, .TemplateLanding > .LeftSideMenu, .TemplateRegularMaterial > .LeftSideMenu { position: fixed; left: 0; top: 0; height: 100%; z-index: 1000; opacity: 0.96; background-color: white; border-right: 1px solid #ddd; }

.TemplateLeftSideMenu > .LeftSideMenu > *, .TemplateLanding > .LeftSideMenu > *, .TemplateRegularMaterial > .LeftSideMenu > * { display: block; color: inherit; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton, .TemplateLanding > .LeftSideMenu > .HamburgerButton, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton { background-color: inherit; position: absolute; top: 0px; padding: 8px; left: 100%; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton:after, .TemplateLanding > .LeftSideMenu > .HamburgerButton:after, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton:after { position: relative; color: inherit; font-family: "Material Design Icons"; font-size: 2em; content: "\F035C"; border-radius: 50%; padding: 8px; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton.Checked:after, .TemplateLanding > .LeftSideMenu > .HamburgerButton.Checked:after, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton.Checked:after { content: "\F0156"; }

.TemplateRegularMaterial > .Content { min-width: 320px; margin: 40px auto 0 auto; flex: 1 0 auto; font-weight: 400; font-size: 1rem; color: #777; line-height: 1.6; letter-spacing: 0.01em; /*> *:not(:last-child), .section>*:not(:last-child) { margin-bottom: $VerticalGap; } :not(:last-child)[style*="display:flex"] { margin-bottom: $VerticalGap; }*/ }

.TemplateRegularMaterial > .Content.anchorsOutside .Section > .Title > .Link { text-decoration: none; float: left; }

.TemplateRegularMaterial > .Content.anchorsOutside .Section > .Title > .Link:after { color: #ccc; font-family: "Material Design Icons"; content: "\F0339"; }

.TemplateRegularMaterial > .Content.anchorsOutside .Section > .Title > .Link:after { position: absolute; float: left; margin-left: -1.2em; }

.TemplateRegularMaterial > .Content.anchorsInside .Section > .Title > .Link { text-decoration: none; float: right; }

.TemplateRegularMaterial > .Content.anchorsInside .Section > .Title > .Link:after { color: #ccc; font-family: "Material Design Icons"; content: "\F0339"; }

.TemplateRegularMaterial > .Content.anchorsInside .Section > .Title > .Link:after { position: relative; float: right; margin-left: 0; }

.TemplateRegularMaterial > .Content .Header { margin-bottom: 4vh; border-bottom: 1px solid #ddd; }

.TemplateRegularMaterial > .Content .Header .Title { text-align: center; font-weight: 200; font-size: 3.2rem; color: #000; margin-top: 2rem; margin-bottom: 1rem; /*@include small-screen { font-size: 6.4vmax; }*/ }

.TemplateRegularMaterial > .Content .Section > .Title { font-weight: 300; font-size: 1.7rem; color: #888; margin-bottom: 0.2rem; }

.TemplateRegularMaterial > .Content .Section > .Section { margin-left: 20px; }

.TemplateRegularMaterial > .Content .Section > .Section .Title { font-weight: 400; font-size: 1.6rem; color: #aaa; }

.TemplateRegularMaterial > .Content .Section > .Section > .Section > .Title { font-weight: 500; font-size: 1.4rem; color: #ccc; }

.TemplateRegularMaterial > .Content > *, .TemplateRegularMaterial > .Content .Section > * { margin-top: 0.4rem; }

.TemplateRegularMaterial > .Content .Header div.Image { display: block; width: 100%; height: 50vh; margin-bottom: 2vh; }

.TemplateRegularMaterial > .Content .Section div.Image { display: block; width: 100%; height: 30vh; margin-bottom: 1vh; }

.TemplateRegularMaterial > .Content img.Image { display: block; margin-left: auto; margin-right: auto; height: auto; width: 100%; }

@media only screen and (max-width: 816px) { .TemplateRegularMaterial > .Content > .Header > .Text, .TemplateRegularMaterial > .Content > .Header > .Title, .TemplateRegularMaterial > .Content > .Section > .Text, .TemplateRegularMaterial > .Content > .Section > .Title { padding-left: 8px; padding-right: 8px; } }

.TemplateRegularMaterial > .Content .Text b { font-weight: 500; color: #79be1e; text-align: left; }

.TemplateLeftSideMenu > .LeftSideMenu, .TemplateLanding > .LeftSideMenu, .TemplateRegularMaterial > .LeftSideMenu { position: fixed; left: 0; top: 0; height: 100%; z-index: 1000; opacity: 0.96; background-color: white; border-right: 1px solid #ddd; }

.TemplateLeftSideMenu > .LeftSideMenu > *, .TemplateLanding > .LeftSideMenu > *, .TemplateRegularMaterial > .LeftSideMenu > * { display: block; color: inherit; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton, .TemplateLanding > .LeftSideMenu > .HamburgerButton, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton { background-color: inherit; position: absolute; top: 0px; padding: 8px; left: 100%; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton:after, .TemplateLanding > .LeftSideMenu > .HamburgerButton:after, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton:after { position: relative; color: inherit; font-family: "Material Design Icons"; font-size: 2em; content: "\F035C"; border-radius: 50%; padding: 8px; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton.Checked:after, .TemplateLanding > .LeftSideMenu > .HamburgerButton.Checked:after, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton.Checked:after { content: "\F0156"; }

.TemplateLanding > .Content { min-width: 320px; margin: 0 auto 0 auto; flex: 1 0 auto; }

.TemplateLanding > .Content > .VideoPlayer { max-height: calc(100vh - 128px); }

.TemplateLanding > .Content .Section > .Title > .Link { visibility: hidden; }

.TemplateLanding > .Content .Section > .Title { font-weight: 200; font-size: 2.5rem; text-align: center; color: #888; margin-bottom: 0.2rem; }

.TemplateLanding > .Content .Section > .Section { margin-left: 20px; }

.TemplateLanding > .Content .Section > .Section .Title { font-weight: 400; font-size: 1.6rem; color: #aaa; }

.TemplateLanding > .Content .Section > .Section > .Section > .Title { font-weight: 500; font-size: 1.4rem; color: #ccc; }

.TemplateLanding > .Content .Text { font-weight: 400; font-size: 1rem; color: #777; line-height: 1.6; letter-spacing: 0.01em; }

.TemplateLanding > .Content *:not(:last-child)[style*="display:block"] { margin-bottom: 0.4rem; }

.TemplateLanding > .Content .Header > div.Image { display: block; width: 100%; height: 50vh; margin-bottom: 2vh; }

.TemplateLanding > .Content .Section > div.Image { display: block; width: 100%; height: 30vh; margin-bottom: 1vh; }

.TemplateLanding > .Content img.Image { display: block; margin-left: auto; margin-right: auto; height: auto; width: 100%; }

@media only screen and (max-width: 816px) { .TemplateLanding > .Content > .Header > .Text, .TemplateLanding > .Content > .Header > .Title, .TemplateLanding > .Content > .Section > .Text, .TemplateLanding > .Content > .Section > .Title { padding-left: 8px; padding-right: 8px; } }

*, *::before, *::after { margin: 0; padding: 0; box-sizing: border-box; }

html { font-family: sans-serif; line-height: 1.5; height: 100%; -webkit-text-size-adjust: 100%; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-font-smoothing: subpixel-antialiased; }

body { margin: 0; font-family: "Roboto"; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #212529; text-align: left; background-color: #ffffff; }

/*hr { margin-top: $Spacer; margin-bottom: $Spacer; border: 0; border-top: $BorderWidth solid rgba($Black, .1); box-sizing: content-box; height: 0; overflow: visible; } h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6  { margin-top: 0; margin-bottom: $Spacer / 2; font-weight: $HeadingsFontWeight; line-height: $HeadingsLineHeight; } h1, .h1 { font-size: $H1FontSize; } h2, .h2 { font-size: $H2FontSize; } h3, .h3 { font-size: $H3FontSize; } h4, .h4 { font-size: $H4FontSize; } h5, .h5 { font-size: $H5FontSize; } h6, .h6 { font-size: $H6FontSize; } a { color: $LinkColor; text-decoration: $LinkDecoration; word-wrap: break-word; background-color: transparent; &:hover { color: $LinkHoverColor; text-decoration: $LinkHoverDecoration; } } p { margin-top: 0; margin-bottom: $Spacer; } pre, code, kbd, samp { font-family: $FontFamilyMonospace; //font-size: ?? } pre { margin-top: 0; margin-bottom: $Spacer; overflow: auto; -ms-overflow-style: scrollbar; } table { border-collapse: collapse;  } th { text-align: inherit; }*/
@font-face { font-family: 'Roboto'; src: local("Roboto Thin"), local("Roboto-Thin"), url("Fonts/roboto/Robotothin.woff2") format("woff2"), url("Fonts/roboto/Robotothin.woff") format("woff"), url("Fonts/roboto/Robotothin.ttf") format("truetype"); font-weight: 100; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("Fonts/roboto/Robotothinitalic.woff2") format("woff2"), url("Fonts/roboto/Robotothinitalic.woff") format("woff"), url("Fonts/roboto/Robotothinitalic.ttf") format("truetype"); font-weight: 100; font-style: italic; }

@font-face { font-family: 'Roboto'; src: local("Roboto Light"), local("Roboto-Light"), url("Fonts/roboto/Robotolight.woff2") format("woff2"), url("Fonts/roboto/Robotolight.woff") format("woff"), url("Fonts/roboto/Robotolight.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("Fonts/roboto/Robotolightitalic.woff2") format("woff2"), url("Fonts/roboto/Robotolightitalic.woff") format("woff"), url("Fonts/roboto/Robotolightitalic.ttf") format("truetype"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'Roboto'; src: local("Roboto"), local("Roboto-Regular"), url("Fonts/roboto/Roboto.woff2") format("woff2"), url("Fonts/roboto/Roboto.woff") format("woff"), url("Fonts/roboto/Roboto.ttf") format("truetype"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Italic"), local("Roboto-Italic"), url("Fonts/roboto/Robotoitalic.woff2") format("woff2"), url("Fonts/roboto/Robotoitalic.woff") format("woff"), url("Fonts/roboto/Robotoitalic.ttf") format("truetype"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'Roboto'; src: local("Roboto Medium"), local("Roboto-Medium"), url("Fonts/roboto/Robotomedium.woff2") format("woff2"), url("Fonts/roboto/Robotomedium.woff") format("woff"), url("Fonts/roboto/Robotomedium.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("Fonts/roboto/Robotomediumitalic.woff2") format("woff2"), url("Fonts/roboto/Robotomediumitalic.woff") format("woff"), url("Fonts/roboto/Robotomediumitalic.ttf") format("truetype"); font-weight: 500; font-style: italic; }

@font-face { font-family: 'Roboto'; src: local("Roboto Bold"), local("Roboto-Bold"), url("Fonts/roboto/Robotobold.woff2") format("woff2"), url("Fonts/roboto/Robotobold.woff") format("woff"), url("Fonts/roboto/Robotobold.ttf") format("truetype"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("Fonts/roboto/Robotobolditalic.woff2") format("woff2"), url("Fonts/roboto/Robotobolditalic.woff") format("woff"), url("Fonts/roboto/Robotobolditalic.ttf") format("truetype"); font-weight: 700; font-style: italic; }

@font-face { font-family: 'Roboto'; src: local("Roboto Black"), local("Roboto-Black"), url("Fonts/roboto/Robotoblack.woff2") format("woff2"), url("Fonts/roboto/Robotoblack.woff") format("woff"), url("Fonts/roboto/Robotoblack.ttf") format("truetype"); font-weight: 900; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("Fonts/roboto/Robotoblackitalic.woff2") format("woff2"), url("Fonts/roboto/Robotoblackitalic.woff") format("woff"), url("Fonts/roboto/Robotoblackitalic.ttf") format("truetype"); font-weight: 900; font-style: italic; }

@font-face { font-family: "Material Design Icons"; src: url("Fonts/materialdesignicons/materialdesignicons-webfont.eot?v=5.0.45"); src: url("Fonts/materialdesignicons/materialdesignicons-webfont.eot?#iefix&v=5.0.45") format("embedded-opentype"); src: url("Fonts/materialdesignicons/materialdesignicons-webfont.woff2?v=5.0.45") format("woff2"); src: url("Fonts/materialdesignicons/materialdesignicons-webfont.woff?v=5.0.45") format("woff"); src: url("Fonts/materialdesignicons/materialdesignicons-webfont.ttf?v=5.0.45") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Antilatency'; src: url("Fonts/antilatency/antilatency.eot?7274rf"); src: url("Fonts/antilatency/antilatency.eot?7274rf#iefix") format("embedded-opentype"), url("Fonts/antilatency/antilatency.ttf?7274rf") format("truetype"), url("Fonts/antilatency/antilatency.woff?7274rf") format("woff"), url("Fonts/antilatency/antilatency.svg?7274rf#antilatency") format("svg"); font-weight: normal; font-style: normal; font-display: block; }

.base-menu, nav.language-menu, .menu { background-color: #eee; color: #222; }

.base-menu > :not(a), nav.language-menu > :not(a), .menu > :not(a) { background-color: transparent; }

.base-menu > a:hover, nav.language-menu > a:hover, .menu > a:hover { background-color: #ccc; }

.base-menu > a:active, nav.language-menu > a:active, .menu > a:active { background-color: #aaa; }

.base-menu > a, nav.language-menu > a, .menu > a { text-decoration: none; }

.menu { /*position: fixed; left: 0; top: 0; height: 100%; max-width: $max-menu-width; z-index: 10;     opacity: 0.93; */ }

/*nav.menu > *{ display: block; color: inherit; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px;     }*/
/* @media only screen and (max-width: 1220px) { nav.menu .button{ visibility: visible; } nav.menu:not(.checked) { visibility: hidden; width: 0; } }*/
nav.language-menu { position: fixed; right: 0; top: 0; z-index: 10; background-color: #eee; opacity: 0.93; color: #222; }

nav.language-menu > * { display: block; color: inherit; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; text-decoration: none; text-align: right; }

@keyframes animatedBackgroundPositionVertical { 0% { background-position: 0 0; }
  100% { background-position: 0 100%; } }

@keyframes animatedBackgroundPositionHorizontal { 0% { background-position: 0 0; }
  100% { background-position: 100% 0; } }

@keyframes animatedRotateCentered { 0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); } }

.ColorSequence { z-index: 10; display: inline-block; margin-left: 2.4em; margin-right: 0.2em; height: 2em; width: 128px; border-radius: 0.25em; box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.4); }

.ColorSequence:before { display: block; box-shadow: inherit; width: 2em; height: 2em; left: -2.2em; position: relative; background: inherit; background-size: 100000% 100%; border-radius: 50%; content: ""; }

.ColorSequence::after { display: block; width: inherit; height: inherit; position: relative; top: -100%; content: ""; transform: scaleX(-1); background: linear-gradient(to left, transparent 0%, transparent 49.5%, gray 49.5%, gray 50%, gray 50.5%, transparent 50.5%, transparent 100%); animation: inherit; background-size: 200% 100%; }

/*
.color-sequence{
    margin: 4px;
    width: 64px;
    height: 64px;
    padding: 0;
    border-radius: 50%;
    *{
        position: relative;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        //margin-left: 10%;
    }
    >*{
        width: 50px;
        height: 50px;
        background-color: white;
        background: conic-gradient(#aaa 0%, white 2%, white 98%);
    }
    >*>*{
        width: 42px;
        height: 42px;
        
    }

}*/
.PresetEditor { display: flex; }

.PresetEditor .DragArea { cursor: move; }

.PresetEditor .Hide { display: none !important; }

.PresetEditor item { position: relative; display: block; margin: 4px; float: left; }

.PresetEditor item.Dragged { z-index: 10; position: fixed; margin-left: -1em; margin-top: -16px; }

.PresetEditor .ItemPlaceholder { margin: 4px; float: left; background-color: #eee; border-radius: 2px; }

.PresetEditor .Group { margin-left: 6px; padding: 4px 4px 8px 4px; overflow: hidden; border-radius: 2px; min-width: 100px; background-color: white; -webkit-user-select: none; /* Chrome all / Safari all */ -moz-user-select: none; /* Firefox all */ -ms-user-select: none; /* IE 10+ */ user-select: none; /* Likely future */ -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -webkit-transition: box-shadow 0.15s ease-in-out; -moz-transition: box-shadow 0.15s ease-in-out; -o-transition: box-shadow 0.15s ease-in-out; transition: box-shadow 0.15s ease-in-out; }

.PresetEditor .Group .GroupSpacer { position: absolute; display: block; left: 0; top: 0; bottom: 0; width: 4px; pointer-events: none; background-color: #b3e2fb; }

.PresetEditor .Group .GroupHead { position: relative; display: block; margin-left: 4px; margin-right: 4px; margin-bottom: 0; height: 32px; }

.PresetEditor .Group .GroupHead .GroupTitle { position: relative; display: inline-block; z-index: 2; cursor: pointer; text-decoration: underline; max-width: 90%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.PresetEditor .Group .GroupHead .GroupTitleEditor { position: relative; display: inline; z-index: 2; width: 90%; }

.PresetEditor .Group .GroupHead .GroupCounter { position: absolute; display: inline; right: 0; z-index: 2; cursor: pointer; text-decoration: underline; }

.PresetEditor .Group .GroupContainer { margin: 0; padding: 0; }

.PresetEditor .PresetEditorTree { flex: 75%; }

.PresetEditor .PresetEditorTree .ProductBadge { display: none !important; }

.PresetEditor .ProductsView { position: relative; flex: 25%; margin: 0; padding: 0; }

.PresetEditor .ProductsView .ProductsContainer .ProductCard, .PresetEditor .ProductsView .ProductsContainer .ProductCardPlaceholder { display: none !important; }

.PresetEditor .ProductsView .ProductsContainer .GroupCounter { display: none !important; }

.PresetEditor .ProductsView .ProductsContainer .DropArea { display: none !important; }

.PresetEditor .ProductsView .ProductsContainer .DropAreaRemoveItem { position: absolute; display: none; left: 0; right: 0; top: 0; bottom: 0; border-radius: 4px; z-index: 9; background-image: linear-gradient(45deg, #ffffff 25%, #e4e8eb 25%, #e4e8eb 50%, #ffffff 50%, #ffffff 75%, #e4e8eb 75%, #e4e8eb 100%); background-size: 20px 20px; }

.PresetEditor .ProductsView .ProductsContainer .DropAreaRemoveItem:hover { background-image: linear-gradient(45deg, #ffffff 25%, #f5e7e7 25%, #f5e7e7 50%, #ffffff 50%, #ffffff 75%, #f5e7e7 75%, #f5e7e7 100%); }

.PresetEditor .ProductsView .ProductsContainer .DropAreaRemoveItem:after { position: absolute; display: inline-block; content: "REMOVE"; color: black; font-weight: 500; font-size: 6rem; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(90deg); opacity: 0.2; }

.PresetEditor.ItemInTheAir .DropArea { position: absolute; display: inline-block; background-color: greenyellow; border-radius: 4px; border: 1px solid white; left: 0; right: 0; top: 0; bottom: 0; opacity: 0.2; }

.PresetEditor.ItemInTheAir .DropArea:hover { opacity: 0.4; }

.PresetEditor.ItemInTheAir .Dragged .DropArea { display: none; }

.PresetEditor.ItemInTheAir .ProductCard, .PresetEditor.ItemInTheAir .ProductCardPlaceholder { display: none !important; }

.PresetEditor.ItemInTheAir .ProductBadge { display: block !important; }

.PresetEditor.ItemInTheAir .DropAreaRemoveItem { display: block !important; }

.Spinbox { display: flex; justify-content: center; align-items: center; padding: 2px; }

.Spinbox .SpinboxInput { position: relative; display: inline-block; margin: 0; font-weight: 400; font-size: medium; line-height: 20px; background: 0 0; padding: 0; border: none; text-align: center; vertical-align: middle; width: 30px; height: 20px; cursor: default; }

.Spinbox .SpinboxButtonUp { position: relative; display: inline-block; color: #000; font-weight: 400; font-size: medium; line-height: 20px; padding: 0; text-align: center; cursor: pointer; vertical-align: middle; width: 20px; height: 20px; border: 1px solid #aaa; border-radius: 100%; }

.Spinbox .SpinboxButtonUp:after { position: absolute; display: block; content: ''; width: 8px; height: 1px; background: #000; left: calc(50% - (8px/2)); top: 50%; }

.Spinbox .SpinboxButtonUp:before { position: absolute; display: block; content: ''; width: 8px; height: 1px; background: #000; left: calc(50% - (8px/2)); top: 50%; transform: rotate(-90deg); }

.Spinbox .SpinboxButtonDown { position: relative; display: inline-block; color: #000; font-weight: 400; font-size: medium; line-height: 20px; padding: 0; text-align: center; cursor: pointer; vertical-align: middle; width: 20px; height: 20px; border: 1px solid #aaa; border-radius: 100%; }

.Spinbox .SpinboxButtonDown:after { position: absolute; display: block; content: ''; width: 8px; height: 1px; background: #000; left: calc(50% - (8px/2)); top: 50%; }

.ProductViewContainer { -webkit-user-select: none; /* Chrome all / Safari all */ -moz-user-select: none; /* Firefox all */ -ms-user-select: none; /* IE 10+ */ user-select: none; /* Likely future */ }

.ProductBadge { position: relative; display: block; padding: 0px !important; background-color: #00000000; width: 60px; }

.ProductBadge .ProductBadgeImage { position: relative; display: block; border-radius: 50%; left: 0; top: 0; width: 100%; pointer-events: none; }

.ProductBadge .ProductBadgeTitle { position: absolute; display: inline-block; margin: 0; color: #aaa; font-size: small; line-height: 1; font-weight: bold; text-align: center; top: 50%; left: 50%; transform: translate(-50%, -50%); pointer-events: none; }

.ProductCard, .ProductCardPlaceholder { position: relative; display: block; padding: 0px !important; background-color: white; width: 80px; border-radius: 2px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -webkit-transition: box-shadow 0.15s ease-in-out; -moz-transition: box-shadow 0.15s ease-in-out; -o-transition: box-shadow 0.15s ease-in-out; transition: box-shadow 0.15s ease-in-out; }

.ProductCard .ProductCardContent, .ProductCardPlaceholder .ProductCardContent { position: relative; }

.ProductCard .ProductCardContent .ProductCardImage, .ProductCardPlaceholder .ProductCardContent .ProductCardImage { position: relative; display: block; border-radius: 2px 2px 0 0; left: 0; right: 0; top: 0; bottom: 0; width: 100%; pointer-events: none; }

.ProductCard .ProductCardContent .ProductCardInfoBody, .ProductCardPlaceholder .ProductCardContent .ProductCardInfoBody { position: absolute; bottom: 0px; right: 0px; max-width: 100%; padding: 4px; text-align: right; pointer-events: none; }

.ProductCard .ProductCardContent .ProductCardInfoBody .ProductCardPriceBreak, .ProductCardPlaceholder .ProductCardContent .ProductCardInfoBody .ProductCardPriceBreak { position: relative; display: block; margin: 0; color: #aaa; text-decoration: line-through; font-size: x-small; line-height: 1; font-weight: normal; }

.ProductCard .ProductCardContent .ProductCardInfoBody .ProductCardPrice, .ProductCardPlaceholder .ProductCardContent .ProductCardInfoBody .ProductCardPrice { position: relative; display: block; margin: 0; color: #aaa; font-size: small; line-height: 1.2; font-weight: normal; }

.ProductCard .ProductCardContent .ProductCardInfoBody .ProductCardTitle, .ProductCardPlaceholder .ProductCardContent .ProductCardInfoBody .ProductCardTitle { position: relative; display: block; margin: 0; color: #aaa; font-size: small; line-height: 1; font-weight: bold; }

.ProductCard .ProductCardContent .ProductCardPriceTotal, .ProductCardPlaceholder .ProductCardContent .ProductCardPriceTotal { position: absolute; color: #aaa; font-size: x-small; font-weight: normal; top: 0px; left: 0px; max-width: 100%; padding: 4px; pointer-events: none; }

.ProductCardPlaceholder { float: left; background-color: #eee; }

.SdkConfigurator { max-width: 480px; margin: 0 auto 0 auto; padding-left: 28px; padding-right: 4px; }

.SdkConfigurator > label { height: 32px; display: block; margin-bottom: 8px; }

.SdkConfigurator > label > * { float: right; }

.SdkConfigurator > label.Space0 { margin-left: 0px; }

.SdkConfigurator > label.Space1 { margin-left: 20px; }

.SdkConfigurator > label.Space2 { margin-left: 40px; }

.SdkConfigurator > label.Space3 { margin-left: 60px; }

.SdkConfigurator > label.Space4 { margin-left: 80px; }

.SdkConfigurator > label.Space5 { margin-left: 100px; }

.SdkConfigurator > label.Space6 { margin-left: 120px; }

.SdkConfigurator > label.Space7 { margin-left: 140px; }

.SdkConfigurator > label.Space8 { margin-left: 160px; }

.SdkConfigurator > label.Space9 { margin-left: 180px; }

.SdkConfigurator > label.Space10 { margin-left: 200px; }

.SdkConfigurator > label.Space11 { margin-left: 220px; }

.SdkConfigurator > label.Space12 { margin-left: 240px; }

.SdkConfigurator > label.Unity:before { font-family: "Material Design Icons"; content: "\F06AF"; }

.SdkConfigurator > label.Library:before { font-family: "Material Design Icons"; content: "\F08D6"; }

.SdkConfigurator > label:before { position: absolute; color: #bbb; font-size: 24px; margin-top: -4px; margin-left: -26px; }

.AntilatencyLogo { -webkit-user-select: none; /* Chrome all / Safari all */ -moz-user-select: none; /* Firefox all */ -ms-user-select: none; /* IE 10+ */ user-select: none; /* Likely future */ text-decoration: none; }

.LeftSideMenu > .AntilatencyLogo { font-size: 40px; }

.TemplateLanding > .Content > .AntilatencyLogo { position: static; display: block; height: 83.2px; font-size: 64px; text-align: center; }

@media only screen and (max-width: 680px) { .TemplateLanding > .Content > .AntilatencyLogo { font-size: calc(100vw / 680 * 64); height: calc(100vw / 680 * 83.2); } }

.TemplateLanding > .Content > .AntilatencyLogo > * { position: relative; display: inline-block; top: 50%; transform: translateY(-50%); }

.TemplateLanding > .Content > .AntilatencyLogo:before { z-index: -1; position: absolute; background-color: #acc435; display: block; left: 0; width: 100%; height: inherit; content: " "; }

/*# sourceMappingURL=Style.css.map */