.VideoPlayer { width: 100%; padding-top: calc(9 / 16 * 100%); position: relative; overflow: hidden; background-color: black; }

.VideoPlayer .VideoPlayerInner { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.TemplateLeftSideMenu > .LeftSideMenu, .TemplateLanding > .LeftSideMenu, .TemplateRegularMaterial > .LeftSideMenu { position: fixed; left: 0; top: 0; height: 100%; z-index: 10; opacity: 0.93; }

.TemplateLeftSideMenu > .LeftSideMenu > *, .TemplateLanding > .LeftSideMenu > *, .TemplateRegularMaterial > .LeftSideMenu > * { display: block; color: inherit; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton, .TemplateLanding > .LeftSideMenu > .HamburgerButton, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton { background-color: inherit; position: absolute; top: 0px; padding: 8px; left: 100%; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton:after, .TemplateLanding > .LeftSideMenu > .HamburgerButton:after, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton:after { color: inherit; font-family: "Material Design Icons"; font-size: 2em; content: "\F035C"; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton.Checked:after, .TemplateLanding > .LeftSideMenu > .HamburgerButton.Checked:after, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton.Checked:after { content: "\F0156"; }

.TemplateRegularMaterial > .Content { min-width: 320px; margin: 40px auto 0 auto; }

.TemplateRegularMaterial > .Content.anchorsOutside .section > .title > .link { text-decoration: none; float: left; }

.TemplateRegularMaterial > .Content.anchorsOutside .section > .title > .link:after { color: #ccc; font-family: "Material Design Icons"; content: "\F0339"; }

.TemplateRegularMaterial > .Content.anchorsOutside .section > .title > .link:after { position: absolute; float: left; margin-left: -1.2em; }

.TemplateRegularMaterial > .Content.anchorsInside .section > .title > .link { text-decoration: none; float: right; }

.TemplateRegularMaterial > .Content.anchorsInside .section > .title > .link:after { color: #ccc; font-family: "Material Design Icons"; content: "\F0339"; }

.TemplateRegularMaterial > .Content.anchorsInside .section > .title > .link:after { position: relative; float: right; margin-left: 0; }

.TemplateRegularMaterial > .Content .header { margin-bottom: 4vh; border-bottom: 1px solid #ddd; }

.TemplateRegularMaterial > .Content .header .title { text-align: center; font-weight: 200; font-size: 3.2rem; color: #000; margin-top: 2rem; margin-bottom: 1rem; /*@include small-screen { font-size: 6.4vmax; }*/ }

.TemplateRegularMaterial > .Content .section > .title { font-weight: 300; font-size: 1.7rem; color: #888; margin-bottom: 0.2rem; }

.TemplateRegularMaterial > .Content .section > .section { margin-left: 20px; }

.TemplateRegularMaterial > .Content .section > .section .title { font-weight: 400; font-size: 1.6rem; color: #aaa; }

.TemplateRegularMaterial > .Content .section > .section > .section > .title { font-weight: 500; font-size: 1.4rem; color: #ccc; }

.TemplateRegularMaterial > .Content .text { font-weight: 400; font-size: 1rem; color: #777; line-height: 1.6; letter-spacing: 0.01em; }

.TemplateRegularMaterial > .Content *:not(:last-child)[style*="display:block"] { margin-bottom: 0.4rem; }

.TemplateRegularMaterial > .Content .header div.image { display: block; width: 100%; height: 50vh; margin-bottom: 2vh; }

.TemplateRegularMaterial > .Content .section div.image { display: block; width: 100%; height: 30vh; margin-bottom: 1vh; }

.TemplateRegularMaterial > .Content img.image { display: block; margin-left: auto; margin-right: auto; height: auto; width: 100%; }

@media only screen and (max-width: 816px) { .TemplateRegularMaterial > .Content > .header > .text, .TemplateRegularMaterial > .Content > .header > .title, .TemplateRegularMaterial > .Content > .section > .text, .TemplateRegularMaterial > .Content > .section > .title { padding-left: 8px; padding-right: 8px; } }

.TemplateRegularMaterial > .Content .text b { font-weight: 500; color: #79be1e; text-align: left; white-space: nowrap; }

.TemplateLeftSideMenu > .LeftSideMenu, .TemplateLanding > .LeftSideMenu, .TemplateRegularMaterial > .LeftSideMenu { position: fixed; left: 0; top: 0; height: 100%; z-index: 10; opacity: 0.93; }

.TemplateLeftSideMenu > .LeftSideMenu > *, .TemplateLanding > .LeftSideMenu > *, .TemplateRegularMaterial > .LeftSideMenu > * { display: block; color: inherit; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton, .TemplateLanding > .LeftSideMenu > .HamburgerButton, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton { background-color: inherit; position: absolute; top: 0px; padding: 8px; left: 100%; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton:after, .TemplateLanding > .LeftSideMenu > .HamburgerButton:after, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton:after { color: inherit; font-family: "Material Design Icons"; font-size: 2em; content: "\F035C"; }

.TemplateLeftSideMenu > .LeftSideMenu > .HamburgerButton.Checked:after, .TemplateLanding > .LeftSideMenu > .HamburgerButton.Checked:after, .TemplateRegularMaterial > .LeftSideMenu > .HamburgerButton.Checked:after { content: "\F0156"; }

.TemplateLanding > .Content { min-width: 320px; margin: 0 auto 0 auto; }

.TemplateLanding > .Content.anchorsOutside .section > .title > .link { text-decoration: none; float: left; }

.TemplateLanding > .Content.anchorsOutside .section > .title > .link:after { color: #ccc; font-family: "Material Design Icons"; content: "\F0339"; }

.TemplateLanding > .Content.anchorsOutside .section > .title > .link:after { position: absolute; float: left; margin-left: -1.2em; }

.TemplateLanding > .Content.anchorsInside .section > .title > .link { text-decoration: none; float: right; }

.TemplateLanding > .Content.anchorsInside .section > .title > .link:after { color: #ccc; font-family: "Material Design Icons"; content: "\F0339"; }

.TemplateLanding > .Content.anchorsInside .section > .title > .link:after { position: relative; float: right; margin-left: 0; }

.TemplateLanding > .Content .header { margin-bottom: 4vh; border-bottom: 1px solid #ddd; }

.TemplateLanding > .Content .header .title { text-align: center; font-weight: 200; font-size: 3.2rem; color: #000; margin-top: 2rem; margin-bottom: 1rem; /*@include small-screen { font-size: 6.4vmax; }*/ }

.TemplateLanding > .Content .section > .title { font-weight: 300; font-size: 1.7rem; color: #888; margin-bottom: 0.2rem; }

.TemplateLanding > .Content .section > .section { margin-left: 20px; }

.TemplateLanding > .Content .section > .section .title { font-weight: 400; font-size: 1.6rem; color: #aaa; }

.TemplateLanding > .Content .section > .section > .section > .title { font-weight: 500; font-size: 1.4rem; color: #ccc; }

.TemplateLanding > .Content .text { font-weight: 400; font-size: 1rem; color: #777; line-height: 1.6; letter-spacing: 0.01em; }

.TemplateLanding > .Content *:not(:last-child)[style*="display:block"] { margin-bottom: 0.4rem; }

.TemplateLanding > .Content .header > div.image { display: block; width: 100%; height: 50vh; margin-bottom: 2vh; }

.TemplateLanding > .Content .section > div.image { display: block; width: 100%; height: 30vh; margin-bottom: 1vh; }

.TemplateLanding > .Content img.image { display: block; margin-left: auto; margin-right: auto; height: auto; width: 100%; }

@media only screen and (max-width: 816px) { .TemplateLanding > .Content > .header > .text, .TemplateLanding > .Content > .header > .title, .TemplateLanding > .Content > .section > .text, .TemplateLanding > .Content > .section > .title { padding-left: 8px; padding-right: 8px; } }

table { width: 100%; border-collapse: collapse; margin-bottom: 0.4rem; border-spacing: 0px; border: 0; }

table > tbody th { border: 1px solid white; background-color: #eee; padding: 4px 10px 4px 10px; color: #666; font-weight: 500; }

table > tbody td { border: 1px solid #ddd; border-width: 1px; padding: 4px 10px 4px 10px; }

table > tbody td:empty { border: 1px solid transparent; }

.List { margin-left: 20px; }

.MaterialCard { position: relative; width: 100%; display: inline-block; height: 320px; border-radius: 2px; overflow: hidden; padding-bottom: 8px; text-decoration: none; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -webkit-transition: box-shadow 0.15s ease-in-out; -moz-transition: box-shadow 0.15s ease-in-out; -o-transition: box-shadow 0.15s ease-in-out; transition: box-shadow 0.15s ease-in-out; }

.MaterialCard:hover { -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.MaterialCard > .title, .MaterialCard > .text { text-align: left; margin-left: 16px; margin-right: 8px; }

.MaterialCard .title { top: 65%; margin-top: 8px; font-size: 1.5rem; font-weight: 300; color: #777; }

.MaterialCard .image { width: 100%; height: 65%; }

.MaterialCard > .text { top: calc(65% + 1.5rem + 8px); margin-top: 8px; line-height: 1.1; font-size: 0.8rem; }

.MaterialCard:before { position: absolute; display: block; bottom: 0px; right: 0px; left: 0px; z-index: 2; height: 32px; content: ""; background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(255, 255, 255, 0) 100%); }

.MaterialCard:active { -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.Grid { width: 100%; display: block; }

.Grid.columns1 > * { width: calc((100% - (1 - 1) * 8px) / 1); }

.Grid.columns1 > :nth-child(1n) { margin-right: -1px; }

.Grid.columns2 > * { width: calc((100% - (2 - 1) * 8px) / 2); }

.Grid.columns2 > :nth-child(2n) { margin-right: -1px; }

.Grid.columns3 > * { width: calc((100% - (3 - 1) * 8px) / 3); }

.Grid.columns3 > :nth-child(3n) { margin-right: -1px; }

.Grid.columns4 > * { width: calc((100% - (4 - 1) * 8px) / 4); }

.Grid.columns4 > :nth-child(4n) { margin-right: -1px; }

.Grid.columns5 > * { width: calc((100% - (5 - 1) * 8px) / 5); }

.Grid.columns5 > :nth-child(5n) { margin-right: -1px; }

.Grid.columns6 > * { width: calc((100% - (6 - 1) * 8px) / 6); }

.Grid.columns6 > :nth-child(6n) { margin-right: -1px; }

.Grid.columns7 > * { width: calc((100% - (7 - 1) * 8px) / 7); }

.Grid.columns7 > :nth-child(7n) { margin-right: -1px; }

.Grid.columns8 > * { width: calc((100% - (8 - 1) * 8px) / 8); }

.Grid.columns8 > :nth-child(8n) { margin-right: -1px; }

.Grid.columns9 > * { width: calc((100% - (9 - 1) * 8px) / 9); }

.Grid.columns9 > :nth-child(9n) { margin-right: -1px; }

.Grid.columns10 > * { width: calc((100% - (10 - 1) * 8px) / 10); }

.Grid.columns10 > :nth-child(10n) { margin-right: -1px; }

.Grid.columns11 > * { width: calc((100% - (11 - 1) * 8px) / 11); }

.Grid.columns11 > :nth-child(11n) { margin-right: -1px; }

.Grid.columns12 > * { width: calc((100% - (12 - 1) * 8px) / 12); }

.Grid.columns12 > :nth-child(12n) { margin-right: -1px; }

.Grid > * { margin-right: 8px; margin-bottom: 8px; }

.material .code { max-height: 80vh; overflow: auto; margin-bottom: 1rem; }

code { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; background-color: #faf6fa; font-size: 1rem; padding: 2px 5px; }

.code .xmlDocComment, .code .htmlComment, .code .comment { color: #008000; }

.code .keyword { color: #0000ff; }

.code .preprocessorKeyword { color: darkgray; }

.code .string, .code .htmlElementName, .code .stringCSharpVerbatim { color: #a31515; }

.code .namespace { color: #000080; }

.code .method { color: #74531f; }

.code .type { color: #008080; }

.code .className { color: #48D1CC; }

.code .number { color: #8b6122; }

.code .htmlServerSideScript { color: #FFFF00; }

.code .htmlTagDelimiter { color: #0000FF; }

.code .htmlElementName { color: #A31515; }

.code .htmlAttributeName { color: #FF0000; }

.code .htmlAttributeValue { color: #0000FF; }

.code .htmlOperator { color: #0000FF; }

.code .xmlDocTag { color: #808080; }

.code .htmlEntity { color: #FF0000; }

.code .xmlAttribute { color: #FF0000; }

.code .xmlAttributeQuotes { color: #000000; }

.code .xmlAttributeValue { color: #0000FF; }

.code .xmlCDataSection { color: #808080; }

.code .xmlComment { color: #008000; }

.code .xmlDelimiter { color: #0000FF; }

.code .xmlName { color: #A31515; }

.code .cssSelector { color: #A31515; }

.code .cssPropertyName { color: #FF0000; }

.code .cssPropertyValue { color: #0000FF; }

.code .sqlSystemFunction { color: #FF00FF; }

.code .powershellAttribute { color: #B0E0E6; }

.code .powershellOperator { color: #808080; }

.code .powershellType { color: #008080; }

.code .powershellVariable { color: #FF4500; }

.code .typeVariable { color: #008080; font-style: italic; }

.code .constructor { color: #800080; }

.code .predefined { color: #000080; }

.code .pseudoKeyword { color: #000080; }

.code .stringEscape { color: #808080; }

.code .controlKeyword { color: #0000FF; }

.code .markdownHeader { color: #0000FF; font-weight: bold; }

.code .markdownCode { color: #008080; }

.code .markdownListItem { font-weight: bold; }

.code .italic { font-style: italic; }

.code .bold { font-weight: bold; }

.code .builtinFunction { color: #6B8E23; font-weight: bold; }

.code .builtinValue { color: #556B2F; font-weight: bold; }

.code .attribute { color: #008B8B; font-style: italic; }

.code > pre { font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif; background-color: #faf6fa; padding: 8px; overflow: auto; font-size: 1rem; border-radius: 8px; font-weight: 200; }

/*.GitHubLink { text-decoration: none; float: left; } .GitHubLink::after { color: #666; position: absolute; font-family: "Material Design Icons"; font-size: 1.7rem; content: "\F02A4"; margin-left: -1.2em; } @media only screen and (max-width: 880px) { .GitHubLink { float: right; } .GitHubLink::after { position: relative; float: right; margin-left: 0; } }*/
.anchorsOutside .GitHubLink { text-decoration: none; float: left; }

.anchorsOutside .GitHubLink:after { color: #666; font-family: "Material Design Icons"; font-size: 1.7rem; content: "\F02A4"; }

.anchorsOutside .GitHubLink:after { position: absolute; float: left; margin-left: -1.2em; }

.anchorsInside .GitHubLink { text-decoration: none; float: right; }

.anchorsInside .GitHubLink:after { color: #666; font-family: "Material Design Icons"; font-size: 1.7rem; content: "\F02A4"; }

.anchorsInside .GitHubLink:after { opacity: 0.5; position: absolute; float: right; font-size: 2.5rem; margin-left: -2.5rem; }

.anchorsInside .GitHubLink ~ .code > pre { border-top-right-radius: 1.25rem; }

.Downloadable { font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; font-weight: normal; -webkit-font-smoothing: antialiased; box-sizing: inherit; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); border: none; border-radius: 2px; height: 36px; line-height: 36px; padding: 0 16px; font-size: 14px; outline: 0; text-decoration: none; color: #fff; background-color: #acc435; text-align: center; letter-spacing: .5px; position: relative; cursor: pointer; display: inline-block; overflow: hidden; user-select: none; -webkit-tap-highlight-color: transparent; vertical-align: middle; z-index: 1; transition: .3s ease-out; }

.Downloadable:hover { background-color: #c3de3e; }

.DownloadableIcon { color: #ffffff; text-align: center; cursor: pointer; user-select: none; -webkit-tap-highlight-color: transparent; box-sizing: inherit; float: left !important; text-rendering: optimizeLegibility; font-family: 'Material Design Icons'; font-weight: normal; font-style: normal; letter-spacing: normal; text-transform: none; display: inline-block; white-space: nowrap; word-wrap: normal; direction: ltr; -webkit-font-smoothing: antialiased; margin-right: 15px; font-size: 1.3rem; line-height: inherit; }

.DownloadableIconWindows::before { content: "\F05B3"; }

.DownloadableIconAndroid::before { content: "\F0032"; }

.DownloadableIconLinux::before { content: "\F033D"; }

.DownloadableIconZip::before { content: "\F06EB"; }

.DownloadableIconCloud::before { content: "\F0162"; }

@font-face { font-family: 'Roboto'; src: local("Roboto Thin"), local("Roboto-Thin"), url("Fonts/roboto/Robotothin.woff2") format("woff2"), url("Fonts/roboto/Robotothin.woff") format("woff"), url("Fonts/roboto/Robotothin.ttf") format("truetype"); font-weight: 100; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Thin Italic"), local("Roboto-ThinItalic"), url("Fonts/roboto/Robotothinitalic.woff2") format("woff2"), url("Fonts/roboto/Robotothinitalic.woff") format("woff"), url("Fonts/roboto/Robotothinitalic.ttf") format("truetype"); font-weight: 100; font-style: italic; }

@font-face { font-family: 'Roboto'; src: local("Roboto Light"), local("Roboto-Light"), url("Fonts/roboto/Robotolight.woff2") format("woff2"), url("Fonts/roboto/Robotolight.woff") format("woff"), url("Fonts/roboto/Robotolight.ttf") format("truetype"); font-weight: 300; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Light Italic"), local("Roboto-LightItalic"), url("Fonts/roboto/Robotolightitalic.woff2") format("woff2"), url("Fonts/roboto/Robotolightitalic.woff") format("woff"), url("Fonts/roboto/Robotolightitalic.ttf") format("truetype"); font-weight: 300; font-style: italic; }

@font-face { font-family: 'Roboto'; src: local("Roboto"), local("Roboto-Regular"), url("Fonts/roboto/Roboto.woff2") format("woff2"), url("Fonts/roboto/Roboto.woff") format("woff"), url("Fonts/roboto/Roboto.ttf") format("truetype"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Italic"), local("Roboto-Italic"), url("Fonts/roboto/Robotoitalic.woff2") format("woff2"), url("Fonts/roboto/Robotoitalic.woff") format("woff"), url("Fonts/roboto/Robotoitalic.ttf") format("truetype"); font-weight: 400; font-style: italic; }

@font-face { font-family: 'Roboto'; src: local("Roboto Medium"), local("Roboto-Medium"), url("Fonts/roboto/Robotomedium.woff2") format("woff2"), url("Fonts/roboto/Robotomedium.woff") format("woff"), url("Fonts/roboto/Robotomedium.ttf") format("truetype"); font-weight: 500; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("Fonts/roboto/Robotomediumitalic.woff2") format("woff2"), url("Fonts/roboto/Robotomediumitalic.woff") format("woff"), url("Fonts/roboto/Robotomediumitalic.ttf") format("truetype"); font-weight: 500; font-style: italic; }

@font-face { font-family: 'Roboto'; src: local("Roboto Bold"), local("Roboto-Bold"), url("Fonts/roboto/Robotobold.woff2") format("woff2"), url("Fonts/roboto/Robotobold.woff") format("woff"), url("Fonts/roboto/Robotobold.ttf") format("truetype"); font-weight: 700; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("Fonts/roboto/Robotobolditalic.woff2") format("woff2"), url("Fonts/roboto/Robotobolditalic.woff") format("woff"), url("Fonts/roboto/Robotobolditalic.ttf") format("truetype"); font-weight: 700; font-style: italic; }

@font-face { font-family: 'Roboto'; src: local("Roboto Black"), local("Roboto-Black"), url("Fonts/roboto/Robotoblack.woff2") format("woff2"), url("Fonts/roboto/Robotoblack.woff") format("woff"), url("Fonts/roboto/Robotoblack.ttf") format("truetype"); font-weight: 900; font-style: normal; }

@font-face { font-family: 'Roboto'; src: local("Roboto Black Italic"), local("Roboto-BlackItalic"), url("Fonts/roboto/Robotoblackitalic.woff2") format("woff2"), url("Fonts/roboto/Robotoblackitalic.woff") format("woff"), url("Fonts/roboto/Robotoblackitalic.ttf") format("truetype"); font-weight: 900; font-style: italic; }

@font-face { font-family: "Material Design Icons"; src: url("Fonts/materialdesignicons/materialdesignicons-webfont.eot?v=5.0.45"); src: url("Fonts/materialdesignicons/materialdesignicons-webfont.eot?#iefix&v=5.0.45") format("embedded-opentype"); src: url("Fonts/materialdesignicons/materialdesignicons-webfont.woff2?v=5.0.45") format("woff2"); src: url("Fonts/materialdesignicons/materialdesignicons-webfont.woff?v=5.0.45") format("woff"); src: url("Fonts/materialdesignicons/materialdesignicons-webfont.ttf?v=5.0.45") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'Antilatency'; src: url("Fonts/antilatency/antilatency.eot?7274rf"); src: url("Fonts/antilatency/antilatency.eot?7274rf#iefix") format("embedded-opentype"), url("Fonts/antilatency/antilatency.ttf?7274rf") format("truetype"), url("Fonts/antilatency/antilatency.woff?7274rf") format("woff"), url("Fonts/antilatency/antilatency.svg?7274rf#antilatency") format("svg"); font-weight: normal; font-style: normal; font-display: block; }

.base-menu, nav.language-menu, .menu { background-color: #eee; color: #222; }

.base-menu > :not(a), nav.language-menu > :not(a), .menu > :not(a) { background-color: transparent; }

.base-menu > a:hover, nav.language-menu > a:hover, .menu > a:hover { background-color: #ccc; }

.base-menu > a:active, nav.language-menu > a:active, .menu > a:active { background-color: #aaa; }

.base-menu > a, nav.language-menu > a, .menu > a { text-decoration: none; }

.menu { /*position: fixed; left: 0; top: 0; height: 100%; max-width: $max-menu-width; z-index: 10;     opacity: 0.93; */ }

/*nav.menu > *{ display: block; color: inherit; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px;     }*/
/* @media only screen and (max-width: 1220px) { nav.menu .button{ visibility: visible; } nav.menu:not(.checked) { visibility: hidden; width: 0; } }*/
nav.language-menu { position: fixed; right: 0; top: 0; z-index: 10; background-color: #eee; opacity: 0.93; color: #222; }

nav.language-menu > * { display: block; color: inherit; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; text-decoration: none; text-align: right; }

.panel { border-radius: 8px; padding: 8px; padding-left: 42px; padding-bottom: 0; min-height: 32px; }

.panel::before { position: absolute; display: inline; color: #ccc; font-family: "Material Design Icons"; font-size: 24px; content: "\F0339"; margin-left: -32px; }

.info { background-color: #deebff; }

.info::before { color: #5590e8; content: "\F02FC"; }

.warning { background-color: #fffae6; }

.warning::before { color: #ff991f; content: "\F0026"; }

.error { background-color: #ffebe6; }

.error::before { color: #e65835; content: "\F0159"; }

.note { background-color: #eae6ff; }

.note::before { color: #5243aa; content: "\F082E"; }

.success { background-color: #e3fce8; }

.success::before { color: #2db647; content: "\F05E0"; }

.bug { background-color: #f4dfd9; }

.bug::before { color: #de350b; content: "\F00E4"; }

@keyframes animatedBackgroundPositionVertical { 0% { background-position: 0 0; }
  100% { background-position: 0 100%; } }

@keyframes animatedBackgroundPositionHorizontal { 0% { background-position: 0 0; }
  100% { background-position: 100% 0; } }

@keyframes animatedRotateCentered { 0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); } }

.color-sequence { z-index: 10; display: inline-block; margin-left: 2.4em; margin-right: 0.2em; height: 2em; width: 128px; border-radius: 0.25em; box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.4); }

.color-sequence:before { display: block; box-shadow: inherit; width: 2em; height: 2em; left: -2.2em; position: relative; background: inherit; background-size: 100000% 100%; border-radius: 50%; content: ""; }

.color-sequence::after { display: block; width: inherit; height: inherit; position: relative; top: -100%; content: ""; transform: scaleX(-1); background: linear-gradient(to left, transparent 0%, transparent 49.5%, gray 49.5%, gray 50%, gray 50.5%, transparent 50.5%, transparent 100%); animation: inherit; background-size: 200% 100%; }

/*
.color-sequence{
    margin: 4px;
    width: 64px;
    height: 64px;
    padding: 0;
    border-radius: 50%;
    *{
        position: relative;
        border-radius: 50%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        //margin-left: 10%;
    }
    >*{
        width: 50px;
        height: 50px;
        background-color: white;
        background: conic-gradient(#aaa 0%, white 2%, white 98%);
    }
    >*>*{
        width: 42px;
        height: 42px;
        
    }

}*/
.PresetEditor.ItemInTheAir .DropArea { position: absolute; display: inline-block; background-color: greenyellow; border-radius: 4px; border: 1px solid white; left: 0; right: 0; top: 0; bottom: 0; opacity: 0.2; }

.PresetEditor.ItemInTheAir .DropArea:hover { opacity: 0.4; }

.PresetEditor.ItemInTheAir .Dragged .DropArea { display: none; }

.PresetEditor .PresetEditorTree item { overflow: hidden; background-color: #fff; position: relative; left: 0px; padding: 8px; margin: 8px; margin-left: 16px; float: left; border-radius: 2px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); -webkit-transition: box-shadow 0.15s ease-in-out; -moz-transition: box-shadow 0.15s ease-in-out; -o-transition: box-shadow 0.15s ease-in-out; transition: box-shadow 0.15s ease-in-out; /*&:before { //z-index: -1; position: absolute; display: block; background-color: #f00; top: 0; left: 0; right: 0; bottom: 0; content: ""; } &::before:hover { //z-index: -1; position: absolute; display: block; background-color: #0f0; top: 0; left: 0; right: 0; bottom: 0; content: ""; }*/ /*&:before:hover { background-color: #0f0; //@include box-shadow( 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)); }*/ /*&:hover > :hover { pointer-events: none; }*/ -webkit-user-select: none; /* Chrome all / Safari all */ -moz-user-select: none; /* Firefox all */ -ms-user-select: none; /* IE 10+ */ user-select: none; /* Likely future */ display: block; /*> item { margin-left: 16px; }*/ }

.PresetEditor .PresetEditorTree item .Title { display: inline; position: relative; z-index: 2; margin-left: 24px; }

.PresetEditor .PresetEditorTree item.Group { background-color: #fafafa; font-style: italic; font-weight: normal; }

.PresetEditor .PresetEditorTree item.Product { font-style: normal; font-weight: bold; }

.PresetEditor .PresetEditorTree item.Product .Title { pointer-events: none; }

.PresetEditor .PresetEditorTree item.Dragged { z-index: 10; position: fixed; margin-left: -1em; margin-top: -16px; }

.PresetEditor .PresetEditorTree item .DragPlaceholder { margin: 8px; margin-left: 16px; float: left; border-radius: 2px; background-color: #eee; }

.PresetEditor .PresetEditorTree item ui { position: relative; display: block; height: 32px; /*&.Selected { background-color: cornflowerblue }*/ }

.PresetEditor .PresetEditorTree item ui .DragArea { position: absolute; display: block; top: -8px; left: -8px; right: -8px; bottom: 0; background-color: #ddd; cursor: move; border-bottom-right-radius: 10px; }

.PresetEditor .PresetEditorTree item ui .DragArea:after { margin: auto; display: block; padding: 7px; color: #666; font-family: "Material Design Icons"; content: "\F0626"; font-style: normal; font-weight: normal; }

.PresetEditor .PresetEditorTree item ui input { width: 100%; }

.SdkConfigurator { max-width: 480px; margin: 0 auto 0 auto; padding-left: 28px; padding-right: 4px; }

.SdkConfigurator > label { height: 32px; display: block; margin-bottom: 8px; }

.SdkConfigurator > label > * { float: right; }

.SdkConfigurator > label.Space0 { margin-left: 0px; }

.SdkConfigurator > label.Space1 { margin-left: 20px; }

.SdkConfigurator > label.Space2 { margin-left: 40px; }

.SdkConfigurator > label.Space3 { margin-left: 60px; }

.SdkConfigurator > label.Space4 { margin-left: 80px; }

.SdkConfigurator > label.Space5 { margin-left: 100px; }

.SdkConfigurator > label.Space6 { margin-left: 120px; }

.SdkConfigurator > label.Space7 { margin-left: 140px; }

.SdkConfigurator > label.Space8 { margin-left: 160px; }

.SdkConfigurator > label.Space9 { margin-left: 180px; }

.SdkConfigurator > label.Space10 { margin-left: 200px; }

.SdkConfigurator > label.Space11 { margin-left: 220px; }

.SdkConfigurator > label.Space12 { margin-left: 240px; }

.SdkConfigurator > label.Unity:before { font-family: "Material Design Icons"; content: "\F06AF"; }

.SdkConfigurator > label.Library:before { font-family: "Material Design Icons"; content: "\F08D6"; }

.SdkConfigurator > label:before { position: absolute; color: #bbb; font-size: 24px; margin-top: -4px; margin-left: -26px; }

* { margin: 0; padding: 0; }

html { font-family: "Roboto"; -webkit-font-smoothing: subpixel-antialiased; }

h1, h2, h3, h4 { padding: 0; margin: 0; }

.noselect { -webkit-touch-callout: none; /* iOS Safari */ -webkit-user-select: none; /* Safari */ -khtml-user-select: none; /* Konqueror HTML */ -moz-user-select: none; /* Old versions of Firefox */ -ms-user-select: none; /* Internet Explorer/Edge */ user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */ }

/*# sourceMappingURL=style.css.map */